# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
android/.gradle/
android/captures/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store
